<!-- <div class="page-header"><h1>Upload Photo</h1></div> -->

<div class="page-header"><h1>Upload Photo</h1></div>

<%= form_for @photo do |f| %>
  <%= render 'layouts/errors', object: @photo %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.radio_button :album, 'animals'%>
    <%= f.label :album, 'Behind the Barn', class: 'form-control' %>
    <%= f.radio_button :album, 'nature'%>
    <%= f.label :album, 'In the Pasture', class: 'form-control' %>
    <%= f.radio_button :album, 'weddings'%>
    <%= f.label :album, 'At the Hitching Post', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control'%>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>